.root {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
}
.contNavi {
  position: sticky;
  color: #acacac;
  padding: 10px;
  z-index: 1;
}
.mNavi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding-left: 30px;
}
ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: center;
  margin-top: 5%;
}
ul > li > a {
  font-size: 0.9rem;
  transition: all ease-in 0.3s;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  color: #acaaaa;
}
ul > li > a:hover {
  color: white;
}
.title {
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.bg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url("../assets/bg3.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -6%;
  z-index: -1;
}
.cont {
  width: 100%;
  height: 100%;
}
.leftintro {
  color: white;
  text-align: center;
}
.drop {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-top: 20%;
  margin-left: 65%;
  width: 70%;
  height: 60%;
  border-radius: 25px;
  padding: 3%;
}
.Nright {
  margin-left: 30%;
  font-family: "Raleway", sans-serif;
}
.drop > h1 {
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
}
.drop > p {
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #acacac;
  margin-top: -7%;
}
.btn {
  margin-top: 5%;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  color: #acaaaa;
  padding: 3% 15%;
  border: 1px solid #c2c0c0;
  border-radius: 8px;
  background-color: transparent;

  transition: all 0.3s ease-in-out;
}
.btn:hover {
  border: 1px solid #f7f6f6;
  background-color: white;
  border: none;
  color: #000;
}

/* intro css*/
.intCont {
  font-family: "Raleway", sans-serif;
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.intro {
  margin-top: -10%;
  width: 40%;
  text-align: center;
}
.intro > h1 {
  font-weight: 700;
  font-size: 3rem;
}
.intbtn {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  border: none;
  color: white;
  background-color: #c59d5f;
  width: 14%;
  height: 8%;
  border-radius: 5px;
}
/* minimal css*/
.minCont {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.minCont > section {
  min-height: 35vh;
}
.even1 {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  padding: 15%;
  align-items: center;
  text-align: center;
  height: 30vh;
}
.min1 {
  background-image: url("../assets/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.min2 {
  background-image: url("../assets/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.min3 {
  background-image: url("../assets/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.peven {
  font-family: "'Raleway' , san-serif";
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #828486;
}
.rm {
  font-family: "'Oswald' , san-serif";
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
}

h5 {
  transition: all ease-in-out 0.3s;
  color: #c59d5f;
}
h5:hover {
  color: black;
  cursor: pointer;
}
/* Carousel */
.swiper-container {
  margin: auto;
  margin-top: 15%;
  align-self: center;
  width: 100%;
  height: 40rem;
  filter: brightness(1);
  transition: all ease-in-out 0.5s;
  z-index: 1;
}

.swiper-container .swiper {
  width: 100%;
  height: 62vh;
}

.swiper-wrapper1 {
  margin-top: 1%;
}

.swiper .swiper-slide {
  margin-left:0;
  position: relative;
  overflow: hidden;
}

.swiper-slide img {
  justify-content: center;
  z-index: 999;
  overflow: hidden;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2%;
  box-shadow: 2px 2px 5px rgb(128, 127, 127);
  margin-left: 5rem;
  margin-right: 5rem;
  width: 30rem;
  height: 80%;
  object-fit: cover;
  background-color: rgb(254, 254, 254);
  filter: brightness(1);
  transform: scale(1);
  border-radius: 25px;
  transition: all ease-in-out 0.3s;
}
.swiper-slide:hover img {
  box-shadow: 2px 2px 5px rgb(62, 62, 62);
  filter: brightness(0.5);
  transform: scale(1.1);
}
.overlay {
  position: absolute;
  top: 8%;
  left: 15%;
  transition: all ease-in-out 1s;
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translate(10%);
  width: 85%;
  height: 80%;
  z-index: 1111;
}

.swiper-slide:hover > .overlay {
  transition: all ease-in-out 1s;
  display: block;
  transform: translate(30%);
}
.swiper-slide:hover > img {
  display: block;
}
.swiper .swiper-pagination {
  padding-top: 10rem;
}

.swiper .swiper-pagination-bullet {
  opacity: 1;
  background-color: black;
  height: 1rem;
  width: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 10%;
}

.swiper .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #cfb20f;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 10%;
}

/* quote */
.quoteCont .swiper {
  width: 100%;
  height: 42vh;
}

.swiper-button-prev {
  color: #cfb20f;
}
.quote {
  font-family: "Oswald", sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
}
.quote > p {
  margin-top: -4rem;
  font-size: 3rem;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  justify-content: center;
  align-items: center;
  padding: 10% 10%;
}
.author {
  font-weight: 400;
  margin-top: 3rem;
  font-family: "Libre Baskerville", serif;
  font-size: 1.2rem;
}
.quoteCont {
  margin: auto;
  align-self: center;
  width: 100%;
  height: 60vh;
  filter: brightness(1);
  transition: all ease-in-out 0.5s;
  z-index: 1;
}
.cent {
  font-family: "Oswald", sans-serif;
}

/*Image Gallery or Gallery.jsx */
.deethead {
  display: flex;
  justify-content: space-between;
  padding: 3% 0%;
}
.goBack {
  margin-top: 2.5%;
  border: none;
  width: 10rem;
  height: 3rem;
  background-color: transparent;
  color: #acaaaa;
  transition: all ease 0.3s;
  margin-left: 10%;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}
.goBack:hover {
  border: none;
  width: 10rem;
  height: 3rem;

  color: rgb(0, 0, 0);
}
.artistIntro {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
}
.profile-image {
  height: 24.75rem;
  width: 24.75rem;
  border-radius: 70%;
  margin-top: 10%;
  border: solid 7px rgba(0, 0, 255, 0.2);
  margin-left: 20%;
  /*border-style is temporary so that you can see it's the profile image */
}
.profile-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.image-gallery {
  display: grid;
  padding: 10%;
  gap: 2.5rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.deets {
  margin-left: -30%;
  padding: 10%;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}
.display {
  height: 50vh;
  width: 100%;
  display: flex;
  object-fit: cover;
  background-color: rgb(254, 254, 254);
  box-shadow: 2px 2px 10px rgb(60, 60, 60);
  filter: brightness(1);
  border-radius: 25px;
  transition: all ease-in-out 0.2s;
  transform: scale(1);
}
.display:hover {
  transform: scale(1.1);
  filter: brightness(0.6);
}
#fullpage {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: black;
}
@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .bg {
    margin-top: -8%;
    height: 60vh;
  }
  .mNavi {
    padding-left: 1%;
    display: flex;
    gap: 5rem;
  }
  .title {
    padding-top: 15%;
    margin: 0%;
    font-size: 1rem;
  }
  .Nright {
    margin-left: 1%;
  }
  .Nright > div > ul > li > a {
    font-size: 0.55rem;
  }
  .drop {
    margin-left: 46.5%;
    margin-top: 5%;
  }
  .drop > h1 {
    margin-bottom: 0%;
    font-size: 1.4rem;
  }
  .drop > p {
    margin-top: 2%;
    padding: 0% 15%;
    font-size: 0.6rem;
    line-height: 1.2rem;
  }
  .btn {
    margin-top: 4%;
    font-size: 0.6rem;
  }
  /*Hello World section later */
  .intCont {
    margin-top: 5%;
    height: 65vh;
  }
  .minCont {
    height: 70vh;
  }
  .even1 {
    padding: 5%;
    height: 40vh;
  }
  .heven {
    font-size: 1.2rem;
    margin: 0.2rem;
  }
  .peven {
    margin: 1%;
    padding: 0% 15%;
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .rm {
    font-family: "Oswald", sans-serif;
    font-size: 0.8rem;
  }

}
@media (min-width: 800px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .bg {
    margin-top: -8%;
    height: 70vh;
  }
  .mNavi {
    display: flex;
    gap: 15rem;
  }
  .title {
    font-size: 1.3rem;
  }
  .Nright > div > ul > li > a {
    font-size: 0.9rem;
  }
  .drop {
    margin-top: 15%;
    margin-left: 62%;
  }
  .drop > h1 {
    margin-bottom: 0%;
    font-size: 1.5rem;
  }
  .drop > p {
    margin-top: 5%;
    padding: 0% 10%;
    font-size: 0.8rem;
    line-height: 1.6rem;
  }
  .intCont {
    height: 65vh;
  }
  .drop .btn {
    margin-top: 10%;
    font-size: 0.6rem;
  }
  /*Swiper Slide*/
  .swiper-container {
    margin-top: 5%;
  }
  .swiper .swiper-slide {
    margin-left: 4.1%;
  }
  .swiper-slide img {
    width: 20rem;
    height: 63%;
  }  

  .swiper-container .swiper .swiper-pagination{
    margin-left: 0.5%;
  }
   /*Life Quotes*/
  .quoteCont{
    margin-top: 30%;
    height: 50vh;
  }
  .quoteCont .swiper .swiper-slide {
    margin-left: 0%;
  } 
  .quoteCont .swiper .swiper-pagination{
    margin-left: -0.8%;
  }
  .quote > p {
    font-size: 0.9rem;
    font-weight: 500;
  }

  /*Hello World section later */
  .intCont {
    height: 55vh;
  }
  .minCont {
    height: 70vh;
  }
  .even1 {
    padding: 5%;
    height: 30vh;
  }
  .heven {
    font-size: 1.0rem;
    margin: 0.4rem;
  }
  .peven {
    margin: 1%;
    padding: 0% 15%;
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .rm {
    font-family: "Oswald", sans-serif;
    font-size: 1.0rem;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .bg {
    margin-top: -6%;
    height: 70vh;
  }
  .mNavi {
    display: flex;
    gap: 27rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .Nright > div > ul > li > a {
    font-size: 1rem;
  }
  .drop {
    margin-top: 15%;
    margin-left: 62%;
  }
  .drop > h1 {
    margin-bottom: 0%;
    font-size: 2.0rem;
  }
  .drop > p {
    margin-top: 5%;
    padding: 0% 10%;
    font-size: 1.0rem;
    line-height: 1.6rem;
  }
  .intCont {
    height: 65vh;
  }
  .drop .btn {
    margin-top: 10%;
    font-size: 0.7rem;
  }
  /*Swiper Slide*/
  .swiper-container {
    margin-top: 5%;
  }
  .swiper .swiper-slide {
    margin-left: -0.2%;
  }
  .swiper-slide img {
    width: 20rem;
    height: 63%;
  }  
   /*Life Quotes*/
  .quoteCont{
    margin-top: 14%;
    height: 50vh;
  }
  .quoteCont .swiper .swiper-slide {
    margin-left: -0.1%;
  } 
  .quoteCont .swiper .swiper-pagination{
    margin-left: -0.8%;
  }
  .quote > p {
    font-size: 1rem;
    font-weight: 500;
  }

  /*Hello World section later */
  .intCont {
    height: 60vh;
  }
  .minCont {
    height: 75vh;
  }
  .even1 {
    padding: 5%;
    height: 35vh;
  }
  .heven {
    font-size: 1rem;
    margin: 0.4rem;
  }
  .peven {
    margin: 1%;
    padding: 0% 15%;
    font-size: 0.8rem;
    line-height: 1.8rem;
  }
  .rm {
    font-family: "Oswald", sans-serif;
    font-size: 1.1rem;
  }
}
@media (min-width: 1280px) {
  /* hi-res laptops and desktops */

  .bg {
    margin-top: -8%;
  }
  .mNavi {
    display: flex;
    gap: 30rem;
  }
  .title {
    font-size: 1.9rem;
  }
  .Nright > div > ul > li > a {
    font-size: 1rem;
  }
  .drop {
    margin-left: 46%;
    margin-top: 10%;
  }
  .drop > h1 {
    margin-bottom: 0%;
    font-size: 3.5rem;
  }
  .drop > p {
    margin-top: 2%;
    padding: 0% 15%;
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .btn {
    margin-top: 4%;
    font-size: 1rem;
  }
  /*Swiper Slide*/
  .swiper-container {
    margin-top: 10%;
  }
  .swiper .swiper-slide {
    margin-left: 0.75%;
  }
  .swiper-slide img {
    width: 22rem;
    height: 65%;
  }  
   /*Life Quotes*/
  .quoteCont{
    margin-top: 15%;
    height: 50vh;
  }
  .quoteCont .swiper .swiper-slide {
    margin-left: -0.1%;
  } 
  .quoteCont .swiper .swiper-pagination{
    margin-left: -0.8%;
  }
  .quote > p {
    font-size: 1.5rem;
    font-weight: 500;
  }

  /*Hello World section later */
  .intCont {
    height: 60vh;
  }
  .minCont {
    height: 100vh;
  }
  .even1 {
    padding: 5%;
    height: 45vh;
  }
  .heven {
    font-size: 2rem;
    margin: 0.4rem;
  }
  .peven {
    margin: 1%;
    padding: 0% 15%;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  .rm {
    font-family: "Oswald", sans-serif;
    font-size: 1.1rem;
  }
}

@media (min-width: 1920px) {
  /* hi-res laptops and desktops */
  .bg {
    margin-top: -5%;
    height: 85vh;
  }
  .mNavi {
    display: flex;
    gap: 65rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .Nright > div > ul > li > a {
    font-size: 1.5rem;
  }
  .drop {
    margin-left: 63%;
  }
  .drop > h1 {
    margin-bottom: 0%;
    font-size: 4.5rem;
  }
  .drop > p {
    margin-top: 2%;
    padding: 0% 5%;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  .drop .btn {
    margin-top: 9%;
    font-size: 1rem;
  }
  /*Swiper Slide*/
  .swiper-container{
    margin-top: 0%;
  }
  .swiper-container .swiper .swiper-slide {
    margin-left: 2.5%;
  }  
  .swiper-slide img {
    width: 30rem;
    height: 80%;
  }   
  /*Life Quotes*/
  .quoteCont{
    margin-top: 14%;
    height: 65vh;
  }
  .quoteCont .swiper .swiper-slide {
    margin-left: -0.3%;
  }  

  /*Hello World section later */
  .intCont {
    height: 70vh;
  }
  .minCont {
    height: 100vh;
  }
  .even1 {
    padding: 0 5%;
    padding-top: 15%;
    height: 45vh;
  }
  .heven {
    font-size: 2.5rem;
    margin-top: 20%;
    margin: 0.4rem;
  }
  .peven {
    margin: 1%;
    padding: 0% 15%;
    font-size: 1.4rem;
    line-height: 2.3rem;
  }
  .rm {
    font-size: "Oswald", san-serif;
    font-size: 1.1rem;
  }

}
