.root {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
}
.contNavi {
  position: sticky;
  color: #acacac;
  padding: 10px;
  z-index: 1;
}
.mNavi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding-left: 30px;
}
ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: center;
  margin-top: 5%;
}
ul > li > a {
  font-size: 0.9rem;
  transition: all ease-in 0.3s;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  color: #acaaaa;
}
ul > li > a:hover {
  color: white;
}
.title {
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.bg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url("../assets/bg3.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -6%;
  z-index: -1;
}
.cont {
  width: 100%;
  height: 100%;
}
.leftintro {
  color: white;
  text-align: center;
}
.drop {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-top: 20%;
  margin-left: 65%;
  width: 70%;
  height: 60%;
  border-radius: 25px;
  padding: 3%;
}
.Nright {
  margin-left: 30%;
  font-family: "Raleway", sans-serif;
}
.drop > h1 {
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
}
.drop > p {
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #acacac;
  margin-top: -7%;
}
.btn {
  margin-top: 5%;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  color: #acaaaa;
  padding: 3% 15%;
  border: 1px solid #c2c0c0;
  border-radius: 8px;
  background-color: transparent;

  transition: all 0.3s ease-in-out;
}
.btn:hover {
  border: 1px solid #f7f6f6;
  background-color: white;
  border: none;
  color: #000;
}

/* intro css*/
.intCont {
  font-family: "Raleway", sans-serif;
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.intro {
  margin-top: -10%;
  width: 40%;
  text-align: center;
}
.intro > h1 {
  font-weight: 700;
  font-size: 3rem;
}
.intbtn {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  border: none;
  color: white;
  background-color: #c59d5f;
  width: 14%;
  height: 8%;
  border-radius: 5px;
}
/* minimal css*/
.minCont {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.minCont > section {
  min-height: 35vh;
}
.even1 {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  padding: 15%;
  align-items: center;
  text-align: center;
  height: 30vh;
}
.min1 {
  background-image: url("../assets/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.min2 {
  background-image: url("../assets/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.min3 {
  background-image: url("../assets/3.jpg");
  background-repeat: no-repeat;
}
h5 {
  transition: all ease-in-out 0.3s;
  color: #c59d5f;
}
h5:hover {
  color: black;
  cursor: pointer;
}
/* Carousel */
.swiper-container {
  margin: auto;
  margin-top: 20%;
  align-self: center;
  width: 70%;
  height: 40rem;
  background-color: rgb(254, 254, 254);
  box-shadow: 2px 2px 10px rgb(196, 194, 194);
  filter: brightness(1);
  transition: all ease-in-out 0.5s;
  z-index: 1;
}

.swiper{
  width: 100%;
  height: 62vh;
}

.swiper-wrapper{
  margin-top: 1%;
}

.swiper .swiper-slide{
  margin: 0;
  position: relative;
  overflow: hidden;
}

.swiper-slide img{
  justify-content: center;
  overflow: hidden;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2%;
  /*margin-left: auto;
  margin-right: auto; */
  margin-left: 5rem;
  margin-right: 5rem;
  width: 25rem;
  height: 80%;
  object-fit: cover;
  background-color: rgb(254, 254, 254);
  box-shadow: 2px 2px 10px rgb(196, 194, 194);
  filter: brightness(1);
  border-radius: 25px;
  transition: all ease-in-out 0.5s;
}

.swiper .swiper-pagination{
  padding-bottom: 1rem;
}

.swiper .swiper-pagination-bullet{
  opacity: 1;
  background-color: black;
  height: 1rem;
  width: 1rem;
  margin: 0 .5rem;
}

.swiper .swiper-pagination-bullet-active{
  opacity: 1;
  background-color: #cfb20f;
  height: 1rem;
  width: 1rem;
  margin: 0 .5rem;
}